<section id="start-page">
	<nav>
		<ul>
			<li><a href="#/add-contact" title="add a contact">add contact</a></li>
			<li class="pull-right"><a href="#/favourites" title="favourites">favourites</a></li>
		</ul>
	</nav>
	<h2 data-ng-if="$ctrl.search && $ctrl.search.length > 0">
		Who are you looking for?
	</h2>
	<p data-ng-class="{'extra-top' : results && results.length > 1}">
		<input type="search" name="search" data-ng-model="$ctrl.search" ng-model-options="{debounce: 300}" data-ng-change="$ctrl.findPeeps($ctrl.search)">
	</p>
	<div id="contactList" data-ng-show="results.length > 0">
		<contact data-ng-repeat="person in $ctrl.contacts as results" person="person" has-link="true" data-ng-click="$ctrl.goto(person)" can-fave="true"></contact>			
	</div>

	<p data-ng-show="$ctrl.loading">
		<img src="img/spinner.svg" alt="spinner icon" class="spinner">
	</p>
	<p data-ng-show="results.length === 0 && !$ctrl.error && $ctrl.search.length > 1">
		No matching results
	</p>
	<p class="error" data-ng-show="$ctrl.error">
		{{$ctrl.error}}
	</p>
</section>