/* @import 'https://fonts.googleapis.com/css?family=Noto+Sans'; */
@font-face {
	font-family: 'Sansation';
	src :  url('../fonts/Sansation_Regular.ttf');
}
@font-face {
	font-family: 'Sansation Light';
	src :  url('../fonts/Sansation_Light.ttf');
}
@font-face {
	font-family: 'Sansation Italic';
	src :  url('../fonts/Sansation_Italic.ttf');
}
@font-face {
	font-family: 'Sansation Bold';
	src :  url('../fonts/Sansation_Bold.ttf');
}

html {
	font: normal 18px/1.2 'Sansation', 'Helvetica Neue', Helvetica, sans-serif;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-app-region: drag;
}
h1, h2, h3, p {
	margin-bottom: 0.75rem;
	font-weight: normal;
}
h1 {
	font-family: 'Sansation', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 2.2rem;
}
h3 {
	font-family: 'Sansation';
	font-weight: normal;
}
p {
	font-size: 1rem;
}
a, a:link, a:active, a:visited {
	text-decoration: none;
	color: #B21E28;
	cursor: pointer;
	transition:  all 0.3s;
}
a:hover {
	color: #fff;
	background: #B21E28;
}
ul	{
	list-style: none;
}
input, button {
	padding: 0.5rem 0.75rem;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-family: 'Sansation Light';
	font-size: 1.2rem;
	background: #eee;
	margin-bottom: 0.5rem;
	min-width: 80%;
}
input[type="search"] {
	text-align: center;
}
input:focus, button:focus {
	outline: 0;
	border:  1px solid #09C;
}
input.ok {
	border: 1px solid #0c0;
}
input.small {
	padding:  0.25rem 0.5rem;
	font-size: 1rem;
}
nav, footer {
	position: absolute;
	left: 0;
	width: 100%;
}
nav {
	padding: 1rem;
    top: 0;
    background: #222;
    color: #eee;
    font-variant: small-caps;
    font-family: 'Sansation Bold', sans-serif;
    white-space: nowrap;
    text-align: left;
}
nav li {
	display: inline-block;
	margin-right: 0.5rem;
}
nav li a:hover {
	background: inherit;
} 
footer {
	bottom: 0;
}
footer button.max {
	margin-bottom: 0;
	border-radius: 0;
}
button {
	cursor: pointer;
}
button.red {
	background: #B21E28;
	color: #fff;
	border: 1px solid #900C06;
}
button.red:hover {
	color: #B21E28;
	background: #222;
	border: 1px solid #222;
	font-family: 'Sansation Bold';
}
button.green {
	background: #090;
	color: #fff;
	border: 1px solid #060;
}
button.green:hover {
	color: #090;
	background: #fff;
	border: 1px solid #090;
}
button.small {
	font-size: 1rem;
}
button.xs {
	font-size: 0.8rem;
}
button.max {
	width: 100%;
}
button.add {
	padding: 0.05rem 0.25rem 0.25rem 0.25rem;
    width: 32px;
    border-radius: 50%;
    min-width: 32px;
}
#header, #main, #contactList {
	display: flex;
	align-items: center;
}
#header {
	background: #B21E28;
}
#header img {
	vertical-align: middle;
	padding:0 0.2rem 0.2rem 0.2rem;
	height: 50px;
}
#header h1	{
	color: #fff;
	flex-grow: 1;
	text-align: center;
	padding: 0.5rem;
	margin-bottom: 0;
}
#main {
	background: #fff;
	height: calc(100% - 70px);
	-webkit-app-region:  no-drag;
	overflow: auto;
	padding: 1rem;
	position: relative;
	text-align: center;
}
#main > * {
	width: 100%;
    max-height: calc(100% - 70px);
}
#contactList {
	justify-content: center;
	flex-wrap:  wrap;
	padding-bottom: 1rem;
}
#contactList > * {
	flex-grow: 1;
}

.contact {
	position: relative;
	flex-grow: 0;
	flex-basis: 80%;
	font-family: 'Sansation Bold';
	padding: 1rem;
	margin-bottom: 0.5rem;
	text-align: left;
	background: #f9f9f9;
	border-radius: 3px;
	margin: 0.5rem;
	border: 1px solid #f9f9f9;
}
.contact.has-link:hover {
	border: 1px solid #B21E28;
	cursor: pointer;
}
.contact span, .contact a {
	font-family: 'Sansation Light';
}
.error {
	color: #B21E28;
}
.info {
	color: #2E77C9;
}
.pull-right {
	float: right;
}
.center	{
	text-align: center;
}
.formError {
	width: 80%;
	color: #B21E28;
	text-align: left;
	margin: 0 auto 0.75rem auto;
}
.spinner {
	width: 32px;
	height: 32px;
	margin: 0.5rem;
	vertical-align: middle;
	animation:spin 0.8s linear infinite;
}
.extra-top {
	margin-top: 1rem;
}
.float-left {
	float: left;
}
.small {
	font-size: 0.85rem;
}
.fave-block {
	width: 42px;
	float: left;
	margin : -7px 5px -12px -10px;
}
.fave {
	display: none;
}
.fave + label {
	display: block;
	position: relative;
	padding: 10px;
}
.fave + label div {
	border: 2px solid #B21E28;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.fave:checked + label div {
	background: #B21E28;
}
.fave:checked + label:after {
	content: "\2605";
	color: #fff;
    font-size: 0.75rem;
    position: absolute;
    top: 13px;
    text-align: center;
    left: 13px;
}
@keyframes spin { 100% {
	transform:rotate(360deg);
	}
}