<form id="contactForm" name="contactForm" data-ng-submit="$ctrl.submit($ctrl.contact, contactForm)">
	<input type="text" name="name" data-ng-model="$ctrl.contact.name" placeholder="Full Name" data-ng-minlength="5" data-ng-class="{ok : contactForm.name.$valid}" required><br>
	<input type="email" name="email" data-ng-model="$ctrl.contact.email" placeholder="firstname.lastname@ida-mediafoundry.be" data-ng-pattern="/^([A-Z0-9_\.\-\+\=\&\!\#\$\%\'\*\/\?\^\`\{\|\}\~])+@{1}([A-Z0-9_\.\-])+\.[A-Z0-9]{2,10}$/i" data-ng-class="{ok : contactForm.email.$valid}" required><br>
	<p class="formError" data-ng-if="contactForm.email.$error.pattern"><small>Invalid email</small></p>
	<input type="tel" name="phoneNumber" data-ng-model="$ctrl.contact.phoneNumber" placeholder="+32xxxxxxxxxxxx" data-ng-pattern="/(\+|0){1}[0-9]{9,}/" data-ng-class="{ok : contactForm.phoneNumber.$valid}" required><br>
	<div data-ng-if="$ctrl.extraFields" data-ng-repeat="field in $ctrl.extraFields">
		<input class="small" type="text" name="{{field.name}}" placeholder="fieldName" data-ng-minlength="3" value="{{field.name}}" data-ng-model="field.name">
		<input data-ng-if="field.name && contactForm[field.name].$valid" type="text" name="{{field.name}}" ng-model="$ctrl.contact[field.name]">
	</div>
	<button type="button" class="add green" data-ng-click="$ctrl.addField()">+</button><br>
	<button type="submit" data-ng-class="{green : contactForm.$valid}" data-ng-disabled="contactForm.$invalid">{{$ctrl.submitText}}</button>
</form>