<section id="contact-details">
	<nav>
		<ul>
			<li><a href="#/" title="back">back</a></li>
			<li class="pull-right"><a data-ng-click="$ctrl.edit($ctrl.contact, $ctrl.editMode)">{{ $ctrl.editMode ? 'cancel' : 'edit'}}</a></li>
		</ul>
	</nav>
	<contact person="$ctrl.contact" data-ng-if="!$ctrl.deleted && !$ctrl.editMode"></contact>
	<contact-form data-ng-if="$ctrl.editMode" contact="$ctrl.contact" on-update="$ctrl.save(contact, form)" submit-text="Update"></contact-form>
	<p data-ng-show="$ctrl.loading">
		<img src="img/spinner.svg" alt="spinner icon" class="spinner">
	</p>
	<p data-ng-class="{{$ctrl.message.type}}" data-ng-show="$ctrl.message" class="center">
		{{$ctrl.message.content}}
	</p>
	<footer>
		<button type="button" class="red small max" data-ng-click="$ctrl.delete($ctrl.contact)">Delete</button>
	</footer>
</section>