<section id="add-contact">
	<nav>
		<ul>
			<li><a href="#/" title="back">back</a></li>
		</ul>
	</nav>
	<h2>
		Add a contact
	</h2>
	<contact-form on-update="$ctrl.createContact(contact, form)" contact="$ctrl.contact" submit-text="Add"></contact-form>
	<p data-ng-show="$ctrl.loading">
		<img src="img/spinner.svg" alt="spinner icon" class="spinner">
	</p>
	<p data-ng-class="{{$ctrl.message.type}}" data-ng-show="$ctrl.message">
		{{$ctrl.message.content}}
	</p>
</section>