<div class="contact" data-ng-class="{'has-link' : $ctrl.hasLink === 'true'}">
	<div data-ng-if="$ctrl.canFave" class="fave-block" data-ng-click="$ctrl.toggleFave($event, $ctrl.person)">
		<input type="checkbox" class="fave" id="{{$ctrl.person._id}}" data-ng-model="$ctr.person.favourite" data-ng-checked="{{$ctrl.person.favourite}}">
		<label for="{{$ctrl.person._id}}">
			<div>&nbsp;</div>
		</label>
	</div>
	<h3>{{$ctrl.person.name}}</h3>
	<ul>
		<li data-ng-repeat="(key, value) in $ctrl.person" data-ng-if="key !== 'favourite' && key !== '_id' && key !=='name'" data-ng-switch on="key" class="small">
			{{key | capitalize}}: 
			<a data-ng-switch-when="email" data-ng-href="mailto:{{value}}">{{value}}</a>
			<a data-ng-switch-when="skypeName" data-ng-href="skype:{{value}}?call">{{value}}</a>
			<span data-ng-switch-default>{{value}}</span>
		</li>
	</ul>
</div>