<section id="faourites">
	<nav>
		<ul>
			<li><a href="#/" title="back">back</a></li>
		</ul>
	</nav>
	<h2 class="extra-top"> 
		Favourites
	</h2>
	<div id="contactList" data-ng-show="results.length > 0">
		<contact data-ng-repeat="person in $ctrl.contacts as results" person="person" has-link="true" data-ng-click="$ctrl.goto(person)" can-fave="true"></contact>			
	</div>
	<p data-ng-show="$ctrl.loading">
		<img src="img/spinner.svg" alt="spinner icon" class="spinner">
	</p>
	<p data-ng-show="results.length === 0 && !$ctrl.error && $ctrl.search.length > 1">
		No matching results
	</p>
	<p class="error" data-ng-show="$ctrl.error">
		{{$ctrl.error}}
	</p>
</section>